body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #252525;
}

.title {
  color: #e6e6e6;
  padding-left: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: #474747;
}

.toolbar {
  background-color: #474747;
  padding: 10px;
}

.color-preview {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.recent-colors {
  display: inline-block;
}

.button {
  margin-left: 5px;
  color: #b6b6b6;
  font-weight: bold;
  background-color: transparent;
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  cursor: pointer;

}

.recentColor {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.color-picker {
  background: none;
  border: none;
  cursor: pointer;
}

.brush-label {
  margin-left: 10px;
  color: #b6b6b6;
  font-weight: bold;
}

.canvas {
  background-color: #f4f4f4;
  display: block;
  margin: 10px auto;
}